DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
DB_NAME=eduirk_db
DATABASE_URL=postgresql://postgres:change-me@db:5432/eduirk_db

SECRET_KEY=change-me
PD_ENCRYPTION_KEY=change-me
ENABLE_DEV_TEST_USERS=true

ADMIN_EMAIL=admin@example.local
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_ROLE=admin
